<!--<table class="table">
  	<tr>
  		 
  		<th>{{album.nom}}</th>
		<th>{{album.grup}}</th>
		<th><img [src] = album.imatge></th>
		<th>{{album.any}}</th>
		<th>{{album.tipus}}</th>
		<th>{{album.comentaris}}</th>
		
		<th><button  class="btn btn-danger" (click)="deleteAlbumDetall()" >Delete</button></th>
  	</tr>
</table>-->
<style>
.demo-card-wide.mdl-card {
  width: auto;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" [ngStyle]="{'background-image': 'url('+ album.imatge +')'}">
    <h2 class="mdl-card__title-text">{{album.nom}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <span>{{album.grup}}</span>
    <span>{{album.any}}</span>
    <span class="mdl-chip">
    	<span class="mdl-chip__text">{{album.tipus}}</span>
	</span>
	<ul class="demo-list-item mdl-list">
		<li class="mdl-list__item">{{album.comentaris}}</li>
	</ul>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="deleteAlbumDetall()" >
     	Borrar
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>