<h3>{{title}}</h3>
<div class="container">
 <div class="row">
 <ul class="nav nav-tabs">
 <li role="presentation" routerLinkActive ="active" ><a routerLink="/llista">llista</a></li>   <!--A la pestanya on tindrem la llista dels albums li posem de nom "llista"-->
 <li role="presentation" routerLinkActive ="active"><a routerLink="/crear">crear</a></li> <!--A la pestanya on tindrem per crear els albums li posem de nom "crear"-->
 </ul>
 </div>
 <div class="row"> 
 <router-outlet></router-outlet>
 </div>
</div> 

